<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!-- The path needs double backslashes because backslash is an escape character in C#! -->
    <add key="CirratoPath" value="C:\\Program Files\\Cirrato Technologies\\Print Management Client\\pmc.exe" />
    <add key="SysManURL" value="http://sysman.url.here/sysman" />
    <!-- Leave AccessADGroup empty (but do not remove it) if full access is desired for all users, specify DistinguishedName of AD group as value if read-only access should be default. -->
    <add key="AccessADGroup" value="" />
  </appSettings>
</configuration>